# Data processing
pandas==2.2.2
numpy==1.26.4

# Request handling
requests==2.32.3

# Scikit-learn for machine learning models
#sklearn==1.5.2

# XGBoost for advanced regression and classification
xgboost==2.1.1