# Data processing
pandas==2.1.1
numpy==1.23.5

# Request handling
requests==2.31.0

# Scikit-learn for machine learning models
scikit-learn==1.3.0

# XGBoost for advanced regression and classification
xgboost==1.7.6